# 1. 强制保留并检测 Java 和 Vue 的核心代码
*.java linguist-detectable=true
*.vue linguist-detectable=true

# 2. 压低前端非核心代码的权重 (将它们标记为“文档”或“第三方库”)
# 这一步是关键：把占体积最大的 JS、JSON、CSS 踢出统计，只保留 .vue 文件
resturant_ui/**/*.js linguist-vendored
resturant_ui/**/*.json linguist-vendored
resturant_ui/**/*.css linguist-vendored
resturant_ui/**/*.html linguist-vendored

# 3. 排除后端非代码干扰
demo/pom.xml linguist-generated=true
demo/.mvn/* linguist-generated=true
